/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(Images/image_fond_jeu-min.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(90deg, rgba(3,17,60,1) 0%, rgba(18,44,123,1) 100%);
}

/*
Home Page*/
.btnGame{

}
